@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Thin-Webfont/geomanist-thin-webfont.eot');
    src: url('./Geomanist-Thin-Webfont/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Thin-Webfont/geomanist-thin-webfont.woff2') format('woff2'),
         url('./Geomanist-Thin-Webfont/geomanist-thin-webfont.woff') format('woff'),
         url('./Geomanist-Thin-Webfont/geomanist-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Light-Webfont/geomanist-light-webfont.eot');
    src: url('./Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
         url('./Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
         url('./Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Medium-Webfont/geomanist-medium-webfont.eot');
    src: url('./Geomanist-Medium-Webfont/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2') format('woff2'),
         url('./Geomanist-Medium-Webfont/geomanist-medium-webfont.woff') format('woff'),
         url('./Geomanist-Medium-Webfont/geomanist-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot');
    src: url('./Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff2') format('woff2'),
         url('./Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff') format('woff'),
         url('./Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot');
    src: url('./Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff2') format('woff2'),
         url('./Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff') format('woff'),
         url('./Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Black-Italic-Webfont/geomanist-black-italic-webfont.eot');
    src: url('./Geomanist-Black-Italic-Webfont/geomanist-black-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Black-Italic-Webfont/geomanist-black-italic-webfont.woff2') format('woff2'),
         url('./Geomanist-Black-Italic-Webfont/geomanist-black-italic-webfont.woff') format('woff'),
         url('./Geomanist-Black-Italic-Webfont/geomanist-black-italic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('./Geomanist-Ultra-Italic-Webfont/geomanist-ultra-italic-webfont.eot');
    src: url('./Geomanist-Ultra-Italic-Webfont/geomanist-ultra-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Geomanist-Ultra-Italic-Webfont/geomanist-ultra-italic-webfont.woff2') format('woff2'),
         url('./Geomanist-Ultra-Italic-Webfont/geomanist-ultra-italic-webfont.woff') format('woff'),
         url('./Geomanist-Ultra-Italic-Webfont/geomanist-ultra-italic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
