.awesome-companies {
  &__header {
    padding-bottom: $base-spacing;

    @media only screen and (max-device-width : 500px) {
      text-align: center;

      .h2 {
        letter-spacing: 1px;
      }
    }
  }

  &__companies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-device-width : 500px) {
      justify-content: center;
    }

    .company-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 200px;
      padding: $base-spacing 0;
      padding-right: $base-spacing-xlg;
      text-align: center;

      &--white {
        img {
          opacity: 1;
          filter:  grayscale(100%) brightness(45%) contrast(200%) saturate(0%);
        }
      }

      @media only screen and (max-device-width : 500px) {
        padding-right: 0px;
        padding-left: 0px;
      }
    }

    img {
      width: 100%;
      height: auto;
      filter:  grayscale(100%) brightness(60%) contrast(200%) saturate(0%);
      opacity: .5;
    }
  }
}
