body {
  font-family: 'Geomanist';
  color: $color-black;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $color-red;
}

p {
  padding-bottom: $base-spacing-tiny;
  line-height: 1.5rem;

  @media only screen and (max-device-width : 500px) {
    padding-bottom: $base-spacing-sm;
  }
}
