.awesome-companies {
  &__header {
    padding-bottom: $base-spacing;

    @media only screen and (max-device-width : 500px) {
      .h2 {
        letter-spacing: 1px;
      }
    }
  }

  &__companies {
    display: flex;

    img {
      height: 50px;
      filter: grayscale(100%);
    }
  }
}
