body {
  font-family: 'Geomanist';
  color: $color-black;
  background-color: $color-white;
  margin: $base-spacing;
  margin-left: $base-spacing-xlg;
}

a {
  text-decoration: none;
  color: $color-red;
}

p {
  margin: $base-spacing 0;
}

h1 {
  font-size: 50px;
  line-height: $base-spacing-lg;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.7em;
  text-transform: uppercase;
}

h2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: $base-spacing-lg;
}

h3 {
  font-weight: 100;
  line-height: $base-spacing-lg;
}

