.section {
  padding: $base-spacing 0;

  &--lg {
    padding: $base-spacing-lg 0;
  }

  &--xlg {
    padding: $base-spacing-xlg 0;
  }

  &--xxlg {
    padding: $base-spacing-xxlg 0;
  }

  &--dark {
    background-color: $color-black;
    color: $color-tan;
  }

  &--tan {
    background-color: $color-tan;
  }
}
