.socials {
  &__header {
    font-weight: 400;
    padding-bottom: $base-spacing;
  }

  &__list {
    max-width: 600px;
    font-weight: 200;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    img {
      height: 55px;
    }

    .social-item {
      padding-right: 0.5rem;
    }
  }


  &__list::after {
    content: "";
    flex: auto;
  }
}
