$color-white: #F8F7F5;
$color-tan: #F9F8F4;
$color-black: #4F4F4D;
$color-red: firebrick;
$color-gray: #959593;

$base-spacing: 2em;
$base-spacing-tiny: $base-spacing * 0.25;
$base-spacing-sm: $base-spacing * 0.5;
$base-spacing-med: $base-spacing;
$base-spacing-lg: $base-spacing * 1.5;
$base-spacing-xlg: $base-spacing * 2;
$base-spacing-xxlg: $base-spacing * 3;
